@import '@/presentation/styles/index.scss';

.primary-button {
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgb(0, 166, 255);
    
}
